.error{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-direction: column;
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
    color : black;
    
}


.image{
   width: 300px;
    align-items: right;
}